body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
ul{
    list-style: none;
}
.nav-tabs {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    
    
}

.nav-item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    text-align: center;
}

.nav-item.active {
    background: #fff;
}

.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-dropdown {
    display: none;
    margin-top: 10px;
}


@media (max-width: 991px) {
    .nav {
        display: none;
    }

    .tab-dropdown {
        display: block;
        padding: 10px;
    }
    .tab-content{
        padding-top: 20px;
    }
}

